@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #0d6efd;
  --black-title: #333333;
  --grey-text: #757575;
  --red-sale: #c92127;
  --grey-bg: #f0f0f0;
  --font: "Roboto", sans-serif;
  --grey-light: #cdcfd0;
  --white-bg: #f0f0f0;
  --red-price: #ff4c58;
  --yellow-star: #ffc70d;
  --grey-text-2: #666;
  --yellow-dark: #f6a500;
  --dark-green: #008000;
  --grey-border: #c5c5c5;
  --dark-blue: #00008a;
  --light-blue: #08f;
  --grey-border-light: #e5e7eb;
  --border-btn: #cbd5e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f8;
}

.info-user,
.info-date,
.book-borrow-list {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--grey-light);
  background-color: white;
}

.table-display-data {
  border: 1px solid var(--border-btn);
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  border-radius: 6px;
}

.table-head th {
  background-color: #f8fafc;
}

.search-btn {
  border: 1px solid var(--border-btn);
  border-left: none;
}

.border-input {
  border: 1px solid var(--border-btn);
}

.dropdown-item {
  cursor: pointer;
}
